{% extends "core/base.html" %}

{% block title %} Students information {% endblock title %}


{% block content %}

<h1 class="mt-3">All students</h1>

{% if std %}

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>

        {% for st in std %}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.email}}</td>
        </tr>
        {% endfor %}
    </table>    
{% else %}
    <p>No data availabe</p>
{% endif %}

{% endblock content %}